
html,body {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
  width: 100%;
  /*overflow:hidden;*/
}


.titre{
  font-family: 'Cherish', cursive;
  font-family: 'Fugaz One', cursive;
  font-size: 8rem;
  text-align: center;
  font-style: italic;
  color:rgb(255, 255, 215);
  /* -webkit-text-stroke: 3px hotpink; */
  -webkit-text-stroke: 2px rgb(255, 105, 113);
  letter-spacing: -7px;
  font-weight: 700;
  text-transform: uppercase;
  /* position: absolute; */
  top: 10px; 
  left: 20px;
 
  /* animation: blur .75s ease-out infinite;
  text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff; */
  /* -webkit-text-stroke: 4px navy; */
}

@keyframes blur {
  from {
    text-shadow:0px 0px 10px #fff,
      0px 0px 10px #fff, 
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #fff,
      0px 0px 50px pink,
      0px 0px 150px #f80000,
      0px 10px 100px pink,
      0px 10px 100px#f80000,
      0px 10px 100px pink,
      0px 10px 100px #f80000,
      0px -10px 100px pink,
      0px -10px 100px#f80000;
  }
}
.text-path-1{
  font-family: 'Cherish', cursive;
  font-family: 'Fugaz One', cursive;
  font-size: 50px;
  text-align: center;
  font-style: italic;
  -webkit-text-fill-color:rgb(246, 255, 204);
  -webkit-text-stroke: 2px rgb(255, 105, 113);
  letter-spacing: -7px;
  font-weight: 700;
  text-transform: uppercase;
}


.panel {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: transform 0.8s ease-in;
  }

  .panel-1 {
    background-image: linear-gradient(35deg, rgb(0, 162, 255), rgb(31, 86, 138));
    /*transform: translate3d(100%, 0, 0);*/
    left:100%;
    -webkit-text-fill-color: rgb(133, 184, 241);
  }
  .panel-2 {
    background-image: linear-gradient(75deg, rgb(255, 32, 188), pink);
    left:-100%; 
    -webkit-text-fill-color: rgb(255, 32, 188);
  
  }
  .panel-3 {
    background-image: linear-gradient(60deg, rgb(36, 255, 102), rgb(20, 150, 20));
    /* transform: translate3d(-100%, -100%, 0); */
    top:-100%; 
    -webkit-text-fill-color:rgb(36, 255, 102);
  
  }

  .switch-panel-1 {
    transform: translate3d(-100%, 0, 0);
  }
  .switch-panel-2 {
    transform: translate3d(100%, 0, 0);
  }
  .switch-panel-3 {
    transform: translate3d(0, 100%, 0);
  }
/* BOUTONS POUR ALLER AUX PANNELS */
.png-size-belle{
    width: 100px;
    height: 120px;
    top:50%;
    left:50%;
    position:fixed;
    transform: translate3d(-50%, -50%, 0);
    cursor: pointer; 
}
 .png-size-rebelle{
    width: 120px;
    height: 100px;
    position:fixed;
    top:50%;
    left:50%;
    transform: translate3d(-50%, -50%, 0);
    cursor: pointer;
}

 .png-size-bulle{
    width: 150px;
    height: 100px;
    position:fixed;
    top:50%;
    left:50%;
    transform: translate3d(-50%, -50%, 0);
    cursor: pointer;
} 

/* BIG HEART DEBUT */

#fauxcarre {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -10;
}

.svgcontainer {
  height: 100%;
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
  position: fixed;
}
.heartpos{
  width: 100%;
  height: 100%;
}

/* COEUR QUI BOUGE */
.svg{
  width: 700px;
  height: 700px;
  position: fixed;
}

svg * {
  /* transition: transform 1s; */
  /* -webkit-transition: transform 1s; */
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
}