::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-button {
  width: 1px;
  height: 1px;
}



div {
  box-sizing: border-box;
}

.horizontal-scroll-wrapper {
  position: absolute;
  display: block;
  top: 50%;
  left: 20%;

  height:200%;
  width:60%;
  width: calc(2px + 3px);
  max-height: 900px;
  width:40%;
  margin: -1px;
  padding-top: 0px;
  overflow-y: auto;
  overflow-x: hidden;
  transform: rotate(-90deg) translateY(-250px);
  
  transform-origin: right top;

 
}
.horizontal-scroll-wrapper > div {
  display: block;
  padding: -1px;
  
  transform: rotate(90deg);
  transform-origin: right top;
}

.squares {
  padding: 250px 0 0 0;
}
.squares > div {
  width: 250px;
  height: 250px;
  margin: 10px 0;
}